In [1]:
import pandas as pd
import streamlit as st
import altair as alt
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib 
matplotlib.use("module://matplotlib_inline.backend_inline")

In [2]:
df = pd.read_csv("../vehicles_us.csv")
display(df)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

In [3]:
print(df.isnull().sum())

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [4]:
df["model_year"].fillna(df["model_year"].median(), inplace=True)
df["odometer"].fillna(df["odometer"].median(), inplace=True)

C:\Users\Jolay\AppData\Local\Temp\ipykernel_48744\2671991270.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["model_year"].fillna(df["model_year"].median(), inplace=True)
C:\Users\Jolay\AppData\Local\Temp\ipykernel_48744\2671991270.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["odometer"].fillna(df["odometer"].median(), inplace=True)

In [5]:
df["is_4wd"]=df['is_4wd'].fillna(0)

In [6]:
df["paint_color"].fillna(df["paint_color"].mode()[0], inplace=True)
df["transmission"].fillna(df["transmission"].mode()[0], inplace=True)

C:\Users\Jolay\AppData\Local\Temp\ipykernel_48744\2969737850.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["paint_color"].fillna(df["paint_color"].mode()[0], inplace=True)
C:\Users\Jolay\AppData\Local\Temp\ipykernel_48744\2969737850.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["transmission"].fillna(df["transmission"].mode()[0], inplace=True)

In [7]:
df.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,white,1.0,2018-06-23,19
1,25500,2011.0,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,0.0,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,113000.0,automatic,pickup,white,0.0,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,0.0,2019-04-02,28

In [ ]:
# Example usage:

# data = pd.DataFrame({
#     'price': [9400, 25500, 5500, 1500, 14900],
#     'model_year': [2011, 2011, 2013, 2003, 2017],
#     'model': ['bmw x5', 'ford f-150', 'hyundai sonata', 'ford f-150', 'chrysler 200'],
#     'condition': ['good', 'good', 'like new', 'fair', 'excellent'],
#     'cylinders': [6, 6, 4, 8, 4],
#     'fuel': ['gas', 'gas', 'gas', 'gas', 'gas'],
#     'odometer': [145000, 88705, 110000, 113000, 80903],
#     'transmission': ['automatic', 'automatic', 'automatic', 'automatic', 'automatic'],
#     'type': ['SUV', 'pickup', 'sedan', 'pickup', 'sedan'],
#     'paint_color': ['white', 'white', 'red', 'white', 'black'],
#     'is_4wd': [1, 1, 0, 0, 0],
#     'date_posted': ['2018-06-23', '2018-10-19', '2019-02-07', '2019-03-22', '2019-04-02'],
#     'days_listed': [19, 50, 79, 9, 28]
# })
# Histogram of car prices
plt.figure(figsize=(12, 5))
sns.histplot(df['price'], bins=25,  color='blue')
plt.xlabel('Price ($)')
plt.ylabel('Frequency')
plt.title('Histogram of Car Prices')
plt.show()
    
# Scatter plot of odometer vs price
plt.figure(figsize=(12, 5))
sns.scatterplot(x=df['odometer'], y=df['price'], hue=df['condition'], palette='viridis', alpha=0.7)
plt.xlabel('Odometer (miles)')
plt.ylabel('Price ($)')
plt.title('Scatter Plot of Odometer vs. Price')
plt.legend(title='Condition')
plt.show()

In [9]:
import matplotlib 
print(matplotlib.get_backend())

module://matplotlib_inline.backend_inline